@use "../variables" as vars;

.controller {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 1fr);

  &__label {
    display: none;
    font-size: clamp(1rem, -1.15rem + 10.8vw, 1.875rem);
    &--move {
      display: block;
      grid-row: 2/3;
      grid-column: 2/9;
    }
    &--fire {
      display: block;
      grid-row: 2/3;
      grid-column: 9/15;
    }
    &--reset {
      display: block;
      grid-row: 10/11;
      grid-column: 6/9;
    }

  }

  &__theme-toggle{
    grid-row: 11/12;
    grid-column: 11/12;
  }

  &__btn {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, transform 0.1s ease,
      box-shadow 0.2s ease;

    &:not(:disabled):hover {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    &:not(:disabled):active {
      transform: scale(0.97);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
      background-color: grey;
      box-shadow: none;
    }

    &--dUp,
    &--dDown,
    &--dLeft,
    &--dRight {
      background-color: var(--color-dBtn);

      &:not(:disabled):hover {
        background-color: var(--color-dBtn-hover);
      }

      &:active {
        background-color: var(--color-dBtn-active);
      }
    }

    &--dUp {
      grid-row: 4/6;
      grid-column: 4/5;
    }

    &--dDown {
      grid-row: 7/9;
      grid-column: 4/5;
    }

    &--dLeft {
      grid-row: 6/7;
      grid-column: 2/4;
    }

    &--dRight {
      grid-row: 6/7;
      grid-column: 5/7;
    }

    &--fDUp,
    &--fDDown,
    &--fDLeft,
    &--fDRight {
      background-color: var(--color-fDBtn);

      &:not(:disabled):hover {
        background-color: var(--color-fDBtn-hover);
      }

      &:not(:disabled):active {
        background-color: var(--color-fDBtn-active);
      }
    }

    &--fDUp {
      grid-row: 4/6;
      grid-column: 11/12;
    }

    &--fDDown {
      grid-row: 7/9;
      grid-column: 11/12;
    }

    &--fDLeft {
      grid-row: 6/7;
      grid-column: 9/11;
    }

    &--fDRight {
      grid-row: 6/7;
      grid-column: 12/14;
    }

    &--fire {
      background-color: var(--color-fireBtn);
      grid-row: 6/7;
      grid-column: 11/12;

      &:not(:disabled):hover {
        background-color: var(--color-fireBtn-hover);
      }

      &:not(:disabled):active {
        background-color: var(--color-fireBtn-active);
      }
    }

    &--reset {
      background-color: var(--color-resetBtn);
      grid-row: 11/12;
      grid-column: 7/9;

      &:hover {
        background-color: var(--color-resetBtn-hover);
      }

      &:active {
        background-color: var(--color-resetBtn-active);
      }
    }
  }
}
