@use "../variables" as vars;

.game {
  margin: 0 auto;

  &__screen {
    margin: 0 auto;
    position: relative;
    width: 80%;
    aspect-ratio: 1/1;
    background-color: var(--color-screen-bg);
  }

  &__controller {
    background-color: var(--color-controller-bg);
    margin: 0 auto;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 0 0 100px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
