@use "../variables" as vars;

.game {
  margin: 0 auto;

  &__screen {
    margin: 0 auto;
    position: relative;
    width: 80%;
    aspect-ratio: 1/1;
    background-color: var(--color-screen-bg);
  }

  &__controller {
    background-color: var(--color-controller-bg);
    margin: 0 auto;
    width: 80%;
    aspect-ratio: 1/1;
  }
}
