@use "./reset.scss";
@use "./base";
@use "./accessibility";
@use "./media";
@use "./variables" as vars;

// gameMap board

.board {
  &__row {
    display: flex;
  }

  &__square {
    width: 20px;
    height: 20px;
    border: 1px solid black;

    &--road {
      background-color: aqua;
    }
    &--boundary {
      background-color: grey;
    }
    &--wall {
      background-color: brown;
    }
    &--error {
      background-color: red;
    }
  }
}

.bullet {
    background-color: pink;
}

.tank {
  background-color: green;
}
