@use "./reset.scss";
@use "./base";
@use "./accessibility";
@use "./media";
@use "./variables" as vars;


@use "./components/game";
@use "./components/modal-screen";
@use "./components/board";
@use "./components/bullet";
@use "./components/tank";
@use "./components/controller";

main{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.game-container {
  width: 90%;
  max-width: 450px;
  user-select: none;
}