@use "./reset.scss";
@use "./base";
@use "./accessibility";
@use "./media";
@use "./modal-screen";
@use "./variables" as vars;

.game {
	padding: 80px;
}

.screen {
	display: relative;
	width: 400px;
	height: 400px;
}



// gameMap board

.board {
  &__row {
    display: flex;
  }

  &__square {
    width: 20px;
    height: 20px;
    border: 1px solid black;

    &--road {
      background-color: aqua;
    }
    &--boundary {
      background-color: grey;
    }
    &--wall {
      background-color: brown;
    }
    &--flag{
      background-color: chocolate;
    }
    &--error {
      background-color: red;
    }
  }
}

.bullet {
    background-color: pink;
}

.tank {
  background-color: green;
}